---
---

@import "plain";

main {
    .about {
        @media screen and (max-width: $mobileW) {
            height: auto;
            padding: 0;
        }
    }
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: center;
    height: 60px;
    padding-top: 10px;
}

.navbar_list {
    list-style-type: none;
    margin: 0;
}

.navbar_option {
   float: left;
   min-width: 120px;

    @media screen and (max-width: 768px) {
        min-width: 75px;
    }
}

.navbar_link {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}
