<!DOCTYPE html>
<html lang="en">
<head>
	{%- include head.html -%}
</head>
<body>
	<div class="navbar">
		<ul class="navbar_list">
			<li class="navbar_option"><a class="navbar_link" href="/index.html">HOME</a></li>
			<li class="navbar_option"><a class="navbar_link" href="/about.html">ABOUT ME</a></li>
		</ul>
	</div>
	<main class="container">
		<section class="about">
			<img src="{{ "/assets/portfolio.png" | relative_url }}" alt="{{ site.plainwhite.name }}">
			<h2>{{ site.plainwhite.name }}</h2>
			<p class="tagline" style="margin-top: 15px; margin-bottom: 10px;">{{ site.plainwhite.tagline }}</p>
			<ul class="social" style="margin-top: 0px; margin-bottom: 10px;">
				<a href="https://www.linkedin.com/{{ site.plainwhite.social_links.linkedIn }}"><li><i class="icon-linkedin-squared"></i></li></a>
				<a href="https://twitter.com/{{ site.plainwhite.social_links.twitter }}"><li><i class="icon-twitter-squared"></i></li></a>
			</ul>
			<p style="margin-top: 0px; margin-bottom: 10px;">&copy; 2019</p>
                        <p style="margin-top: 0px; margin-bottom: 10px;"><a href="/privacy.html">Privacy</a></p>
		</section>
		<section class="content">
			{{ content }}
		</section>
	</main>
{%- include cookies.html -%}
</body>
</html>
